<h>My Stats</h>
<table class="table">
	<thead>
        <tr>
          <th colspan="3"></th>
        </tr>
        <tr>
          <td><b>Best Score</b></td>
          <td><b>Average Score</b></td>
          <td><b>Attempts</b></td>
        </tr>
	</thead>
	<tbody>
        <tr>
          <td id="bestScore"><%= current_user.max_score %></td>
          <td id="averageScore"><%= current_user.mean_score %></td>
          <td id="attempts"><%= current_user.attempt_count %></td>
        </tr>
	</tbody>
</table>