
		<%= content_tag_for(:tr, user) do %>
			<td class="userName"><%= user.user_name %></td>
			<td class="bestScore"><%= user.max_score %></td>
			<td class="attempts"><%= user.attempt_count %></td>
		<%end%>