

<html>
  <head>
  </head>
  <br>
  <body>
    <div id="canvasContainer">
      <canvas id = "mainCanvas" width="640" height="440"></canvas>
    <div>
    <script>main();</script>
    <br>
    <% if user_signed_in? %>
      <%= render "current_player_stats" %>
    <% end %>
    <h>Global Stats</h>
    <table id="globalStatsTable" class="table">
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
        <tr>
          <td><b>Player</b></td>
          <td><b>Best Score</b></td>
          <td><b>Attempts</b></td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <%= render "global_stats_row", :user => user %>
        <% end %>
      </tbody>
    </table>
  <br>
  </body>
</html>