// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#canvasContainer{
	margin-right: auto;
    margin-left: auto;
    width: 800px;
}

#mainCanvas{
	margin-right: auto;
    margin-left: auto;
    width: 640px;
    height: 440px;
}